.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 20rem;
  position: relative;
}
.footer-container > hr {
  border: 1px solid var(--lightgray);
  width: 100%;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  gap: 4rem;
}
.social-links {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.social-links > img {
  width: 2rem;
  height: 2rem;
}
.footer-logo > img {
  width: 10rem;
}
.blur-f-1 {
  width: 26rem;
  height: 12rem;
  left: 15%;
  bottom: 0;
  filter: blur(200px);
  background: rgb(255, 115, 0);
}
.blur-f-2 {
  width: 26rem;
  height: 12rem;
  right: 15%;
  bottom: 0;
  background: red;
  filter: blur(200px);
}
